.modalform{
  position: absolute;
  margin: 0 auto;
  width: 400px;
  top: 30%;
  left: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-shadow:0 0 4px rgb(249, 237, 103);
  /* background-color: rgb(249, 237, 103); */
  background-color: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px ;
}

.whishContent{
  /* background-color: rgb(249, 237, 103); */
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  width: 400px;
  max-width: 400px;
  height: 140px;
  outline: none;
  text-shadow:0 0 4px rgb(249, 237, 103);
  border: none;
  resize: none;
}

.cloudSubmit{
  height: 40px;
  width: 100px;
  background-color: transparent;
  font-size: 24px;
  font-weight: bolder;
  cursor :pointer;
  border: none;
  text-shadow:0 0 4px rgb(249, 237, 103);
}
.cloudSubmit:hover{
  transform: scale(1.1);
}