.item{
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.itemText{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, .93);
  padding:10px;
  border-radius: 5px;
  font-weight: 600;
  height: 30px;
}