.todoSearchContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
	align-items: flex-end;
}

.inputSearch{
  height: 30px;
  margin-right: 10px;
  outline: none;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
	@media (max-width:768px) {
		max-width: 140px;
		margin-right: 0;
	}
	
}

.searchIcon{
  height: 65px;
  cursor: pointer;
}
.searchIcon:hover{
  animation: myAnim .4s ease 0s normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	20% {
		transform: rotate(2deg);
	}

	50% {
		transform: rotate(-2deg);
	}

	80% {
		transform: rotate(2deg);
	}
}