.App {
  text-align: center;
  user-select: none;
}

.mainContainer{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 800px;
  justify-content: flex-end;
  grid-template-areas: "form";
  background:no-repeat url('./images/background.png');
  background-size: cover;
  @media (max-width:768px) {
    grid-template-columns: 1fr;
    grid-template-areas: "form";
  }
}

.listContainer{
  position: relative;
  grid-area: form;
  max-width: 600px;
}

.imageLogo{
  width: 20rem;
  margin: 20px 0 10px 0;
  @media (min-width:1200px) {
    width:40rem;
  }
 
}
.listLogo{
  width: 7rem;
  @media (min-width:1200px) {
    width:10rem;
  }
}
.taskLogo{
  width: 6rem;
  @media (min-width:1200px) {
    width:10rem;
  }
}

.listContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formHeaderWrap{
  position: absolute;
  top: 0;
}

body{
  margin: 0;
  background-color:#61dafb;
}

